<div>
  <div id="main">
    <img  id="splat" src="splat-01.png">
  <div id="coming">
    coming soon...
  </div>
  <button type="button" class="join-waitlist" id="join" style="">jack it</button>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    window.waitlisted.start({domain: "jack-952cf18c-d84a-461f-ad76-8ccb82deb67b.app.waitlisted.co", form: "9e6d1625c232b05d36ed0483403704b7"})
  });
</script>
