html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: #FFC0CB;
  margin: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#coming {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: white;
}
